{% extends "base.html" %}
{% load static %}

{% block content %}



  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row gy-4 d-flex justify-content-between">
        <div class="col-lg-8 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h3 data-aos="fade-up"><em>Application des Téchniques d'Intélligence Artificielle dans la Détection d'Objets et la segmentation de la Route dans le Contexte des Voitures Autonomes</em></h3>
          
          <p data-aos="fade-up" data-aos-delay="100">Célébrez l'avenir de la mobilité avec notre plateforme révolutionnaire, où l'intelligence artificielle transforme chaque trajet en une expérience de conduite autonome sûre, fluide et à la pointe de la technologie."</p>
<!--
          <form action="#" class="form-search d-flex align-items-stretch mb-3" data-aos="fade-up" data-aos-delay="200">
            <input type="text" class="form-control" placeholder="Destination">
            <button type="submit" class="btn btn-primary">Search</button>
          </form>
          -->
          <div class="row gy-4" data-aos="fade-up" data-aos-delay="400">

            <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                
              </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                
              </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                
              </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                
              </div>
            </div><!-- End Stats Item -->

          </div>
        </div>

        <div class="col-lg-3 order-1 order-lg-2 hero-img" data-aos="zoom-out">
          <img src="{% static 'img/hero-img.svg' %}" class="img-fluid mb-3 mb-lg-0" alt="">
        </div>

      </div>
    </div>
  </section><!-- End Hero Section -->

  <section id="projet" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row">
        <h2>Description du projet</h2>
      </div>

      <div class="row gy-4 d-flex justify-content-between">
        <div class="col-lg-3 order-1 order-lg-2 hero-img" data-aos="zoom-out">
          <img src="{% static '#' %}" class="img-fluid mb-3 mb-lg-0" alt="">
        </div>

        <div class="col-lg-8 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <p>

          </p>
        </div>
      </div>
    </div>
  </section>


{% endblock %}