{% load static %}

<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>Trajet</h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{% url 'landing' %}" >Accueil</a></li>
          <li><a href="#solution">Solution</a></li>
          <li><a href="#code">Code</a></li>
          <li><a href="#demo">Démo</a></li>
          <li><a href="#contact">Portfolio</a></li>
          <li><a class="get-a-quote" href="{% url 'admin:index' %}">Connexion</a></li>
        <!--
          <li><a href="{% url 'landing' %}" class="active">Accueil</a></li>
          <li><a href="{% url 'solution' %}">Solution</a></li>
          <li><a href="{% url 'code' %}">Code</a></li>
          <li><a href="{% url 'demo' %}">Démo</a></li>
          <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
          <li><a class="get-a-quote" href="{% url 'contribution' %}">Contribution</a></li>
        -->
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  <!-- End Header -->