{% extends 'base.html' %}

{% block content %}

<main id="main">

<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs ">
    <div class="page-header d-flex align-items-center" style="background-image: url('../static/img/10.jpeg');">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>Solution</h2>
            <p>Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem.</p>
          </div>
        </div>
      </div>
    </div>
    <nav>
      <div class="container">
        <ol>
          <li><a href="{% url 'home' %}">Accueil</a></li>
          <li>Solution</li>
        </ol>
      </div>
    </nav>
  </div><!-- End Breadcrumbs -->

  <section id="solution">
    <div class="container">
      <row class="text-center">
        <h1>Solution Apportée grâce aux Algorithmes et à Streamlit</h1>
        <br><br>
        <p>
          Dans un monde en perpétuelle évolution technologique, la conduite autonome s'annonce comme l'une des innovations majeures qui façonneront notre avenir. Au cœur de cette révolution se trouve l'intelligence artificielle (IA) - un ensemble d'algorithmes avancés capable de détecter, d'analyser et de réagir à un environnement complexe et en constante évolution. Mais comment matérialiser cette IA pour une interaction plus concrète et tangible avec les utilisateurs et les professionnels?
        </p>
      </row>
    </div>
  </section>

</main>


{% endblock  %}