.solution {
    background-image: url("../img/gre.jpeg");
}

.code {
    background-image: url("../img/hztr.jpeg");
}

.contribution {
    background-image: url("../img/hztr.jpeg");
}

.portfolio {
    background-image: url("../img/hztr.jpeg");
}

.demo {
    background-image: url("../img/hztr.jpeg");
}